<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head}"></head>

<body class="container">
<div th:replace="~{fragments::navbar2 (current=profile)}"></div>
<h1>Profile</h1>
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" th:text="${profile.firstname} + ' ' + ${profile.lastname}">Johnatan Smith</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0" th:text="${profile.email}">example@example.com</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>
