/* white-login.css */
/* see: https://leaverou.github.io/css3patterns/ */
.login-pf body {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px !important;
    background-color: #282828 !important;
    background-size: 16px 16px !important;
}
