<html xmlns:th="http://www.thymeleaf.org">

<!-- common metadata header for all application  -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Account Console</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <link href="/webapp/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webapp/webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link href="/webapp/webjars/font-awesome/css/all.css" rel="stylesheet">

    <script defer src="/webapp/webjars/jquery/jquery.min.js"></script>
    <script defer src="/webapp/webjars/momentjs/min/moment.min.js"></script>
    <script defer src="/webapp/webjars/momentjs/locale/de.js"></script>

    <script defer src="/webapp/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="/webapp/webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script defer src="/webapp/webjars/font-awesome/js/all.js"></script>
</head>

<body>
<div th:fragment="navbar2 (current)">

    <!-- /* see: https://mdbootstrap.com/docs/standard/navigation/navbar/# */ -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-mdb-target="#navbarSupportedContent"
                    data-mdb-toggle="collapse"
                    type="button"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/webapp/" th:classappend="${current == 'index' ? 'active' : ''}">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/webapp/profile"
                           th:classappend="${current == 'profile' ? 'active' : ''}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/webapp/settings"
                           th:classappend="${current == 'settings' ? 'active' : ''}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/webapp/security"
                           th:classappend="${current == 'security' ? 'active' : ''}">Security</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/webapp/applications"
                           th:classappend="${current == 'applications' ? 'active' : ''}">Applications</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="dropdown">
                    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-auto-close="true"
                            data-bs-toggle="dropdown" id="navbarDropdownMenuAvatar"
                            type="button">
                        <i class="fas fa-user"></i>
                        <span sec:authentication="name">Anonymous</span>
                    </button>
                    <ul aria-labelledby="navbarDropdownMenuAvatar" class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#" onclick="logoutForm.submit(); return false;">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>

    <form class="visually-hidden" id="logoutForm" method="POST" th:action="@{/logout}">
        <!--/* CSRF token will be emitted by Spring Security */-->
    </form>
    <!-- Navbar -->

</div>

</body>
</html>
