<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">
    <title>Account Console</title>
</head>
<body class="container">
<script>
    (function checkLoginState() {

        function enableInactivityMonitoring() {

            var hidden, visibilityChange;
            if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
                hidden = "hidden";
                visibilityChange = "visibilitychange";
            } else if (typeof document.msHidden !== "undefined") {
                hidden = "msHidden";
                visibilityChange = "msvisibilitychange";
            } else if (typeof document.webkitHidden !== "undefined") {
                hidden = "webkitHidden";
                visibilityChange = "webkitvisibilitychange";
            }

            function handleVisibilityChange(event) {

                if (document[hidden]) {
                    return;
                }

                fetch("/webapp/auth/check-session", {credentials: 'include', redirect: 'follow'})
                    .then(function (response) {
                        if (!response.ok && response.status == 401) {
                            window.location.reload();
                        }

                        if (response.redirected) {
                            window.location.href = response.url;
                        }
                    });
            }

            if (!(typeof document.addEventListener === "undefined" || hidden === undefined)) {
                document.addEventListener(visibilityChange, handleVisibilityChange, false);
            }
        }

        function onDomContentLoaded() {
            enableInactivityMonitoring();
        }

        document.addEventListener('DOMContentLoaded', evt => onDomContentLoaded());
    })();

</script>

<div th:replace="~{fragments::navbar2(current=index)}"></div>

<div class="jumbotron">
    <p class="lead">This is a simple hero unit, a simple
        jumbotron-style component for calling extra attention to featured
        content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space
        content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn
            more</a>
    </p>
</div>

</body>
</html>
